* {
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url('/static/img/horus.png'); */
  background-color: black;
  background-image: url('/static/img/OIG.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
}

.header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 15 px;
  background-image: linear-gradient(to top, #1a1110, #000000);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

}

.h1u {
  text-align: left;
  margin-left: 100px;
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
      #c19a6b 0%,
      #664620 29%,
      #664620 67%,
      #c19a6b 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 50px;
}

.logo {
  position: absolute;
  width: 100px;
  left: 45%;
}

.f1 {
  width: auto;
  position: absolute;
  right: 5%;

}

.d1 {
  align-self: baseline;
}

.allcam {
  padding-left: 7%;
  padding-right: 7%;
  margin-left: auto;
  margin-right: auto;
}

.dcen {
  margin-top: 5px;
}

.img2 {
  width: 31%;
  object-fit: cover;
  margin: 5px;
  border-style: groove;
  border-color: #c19a6b;

}

.clicked {
  width: 100%;
  height: 650px;
}

.container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.input {
  width: 150px;
}

.input:focus {
  color: orange;
}

.btn {
  border: 0px;
  background: transparent;
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px
}

.btn:hover {
  background: #ffffff;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 5px #ffffff,
    0 0 25px #ffffff,
    0 0 50px #ffffff,
    0 0 100px #ffffff;
}

.btn span {
  position: absolute;
  display: block;
}

.btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffffff);
  animation: btn-anim1 1s linear infinite;
}



.btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ffffff);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}



.btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ffffff);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}



.btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ffffff);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}