{% extends 'base.html'%}
{% block body %}
{% if custom_css %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/detections2.css')}}">
{% endif%}
{% if title %}
<title>{{title}}</title>
<link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
{% endif %}
<div class="header text-center"> 
    <div class="container row justify-content-center align-items-center">   
        <h1 class="h1u text-center">Real-time Abnormal Behavior Detectopm</h1>
        
    </div>
</div>
<div class="container">
    <div class="cards row">
        <span class="line"></span>
        <div class="cards row">
            {% for image in images %}
                <div class="card">
                    <div class="row">
                        <div class=" col">
                            <img src="{{ image }}" alt="" class="cardimg rounded-start img-fluid">
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
</div>
<script src="static/js/detections.js"></script>

{% endblock %}