
{% extends 'base.html'%}

{% block body %}

{% if custom_css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/cameras.css')}}">
{% endif%}

{% if htitle %}
<title>{{htitle}}</title>
<link rel="icon" href="{{ url_for('static', filename='img/icon.png') }}">
{% endif %}

<div class="header"> 
    <div class="container row justify-content-center align-items-center">   
        <h1 class="h1u">Real-time Abnormal Behavior Detectopm</h1>
        <form class="f1" action="" method="post">
            <a href="{{ url_for('detections')}}" class="btn  " target="_blank">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Detections
            </a>
            <button type="submit" class="btn input ">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                log out</button>
            
        </form>
    </div>
</div>

<div class="allcam">

    <div class="dcen">
        <div class="row">
            <img src="{{ url_for('video') }}" width="350px" height="350px" class=" col-6 col-md-6">
            <img src="{{ url_for('video') }}" width="350px" height="350px" class=" col-6 col-md-6">
        </div>
        <div class="row mt-2">
            <img src="{{ url_for('video') }}" width="350px" height="350px" class=" col-6 col-md-6">
            <img src="{{ url_for('video') }}" width="350px" height="350px" class=" col-6 col-md-6">
        </div>
    </div>

</div>
<script src="static/js/main.js"></script>
{% endblock %}